* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: url('https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?cs=srgb&dl=pexels-eberhard-grossgasteiger-844297.jpg&fm=jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#app img {
    width: 160px;
    height: 120px;
}
.headline {
    display: flex;
    align-items: center;
    font-size: 35px;
    color: rgb(8, 8, 8);
}
.zip {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 150px;
    margin-bottom: 25px;
    text-align: center;
}

.feel {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
 #generate {
     margin-top: 50px;
     margin-bottom: 50px;
     background-color: transparent;
     font-size: 20px;
     border-radius: 20px;
 }
 #generate:hover {
    background-color: black;
    color: aliceblue;
}
.title {
    font-size: 25px;
    color: whitesmoke;
    font-weight: 500;
}

#entryHolder {
    display: flex;
    margin: 15px;
}
#entryHolder #data, #temp, #content {
    margin-left: 25px;
}